#calendar-container {
	font-size: 0.24rem;
}
#calendar-container .calendar-fl {
	float: left;
}
#calendar-container .calendar-fr {
	float: right;
}
#calendar-container .calendar-tc {
	text-align: center;
}
.mem-sign-st {
	position: relative;
	height: 4.93rem;
	color: #ffffff;
	text-align: center;

	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f48b73+0,fbaf74+100 */
	background: #f48b73; /* Old browsers */
	background: -moz-linear-gradient(top, #f48b73 0%, #fbaf74 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f48b73 0%, #fbaf74 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f48b73 0%, #fbaf74 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f48b73', endColorstr='#fbaf74',GradientType=0 ); /* IE6-9 */
}
.mem-sign-st-detail {
	padding: 0.2rem;
	font-size: 0.3rem;
	line-height: 0.5rem;
}
.mem-sign-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.34rem;
	height: 2.34rem;
	padding: 0.16rem;
	margin: 0.2rem auto 0;
	background: rgb(0 0 0 / 30%);
	border-radius: 50%;
}
.mem-sign-before.mem-sign-circle {
	background: rgb(255 255 255 / 30%);
}
.mem-sign-circle-text {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 0.48rem;
	color: #919191;
	background: #efe2dc;
	border-radius: 50%;
}
.mem-sign-before .mem-sign-circle-text {
	color: #ffa895;
	background: #ffffff;
}
.mem-sign-tips {
	display: inline-block;
	width: 2.94rem;
	margin-top: 0.4rem;
	line-height: 0.5rem;
	background: rgb(0 0 0 / 30%);
	border-radius: 0.25rem;
}

/* 签到 */
.sign-date-wrap {
	margin: 0.2rem;
	font-size: 0.3rem;
	background: #ffffff;
	border: 1px solid #dddee0;
	border-radius: 0.04rem;
}
.sign-date-top {
	padding: 0 0.4rem;
	padding-top: 0.1rem;
	font-size: 0.28rem;
	line-height: 0.7rem;
}
.sign-date-top i {
	font-size: 0.4rem;
	color: #bebec1;
}
.sign-date-week,
.sign-date-days {
	padding-left: 0.35rem;
}
.sign-date-days {
	padding-bottom: 0.2rem;
}
.sign-date-week span,
.sign-date-days span {
	float: left;
	width: 0.9rem;
	line-height: 0.8rem;
	text-align: center;
}

/* IE7不支持的清除浮动 */
.clearfix::after {
	display: block;
	height: 0;
	clear: both;
	font-size: 0;
	visibility: hidden;
	content: ".";
}

/* .today {
    font-weight: bold;
} */
.calendar-day-checkin {
	color: white;
	background-color: #fbaf74;
	border-radius: 100%;
}
.calendar-day {
	border: 0.5px solid transparent;
	border-radius: 100%;
}
.calendar-day-adjacent {
	color: #c4c4c4;
}
.checkIn-dark .sign-date-wrap {
	color: #d9d9d9;
	background: #1f1f1f;
	border-color: #414243;
}
.checkIn-dark .sign-date-top,
.checkIn-dark .sign-date-week,
.checkIn-dark .sign-date-days {
	color: #d9d9d9;
}
.checkIn-dark .calendar-day {
	color: #d9d9d9;
}
.checkIn-dark .calendar-day-adjacent {
	color: #686868;
}
.checkIn-dark .calendar-day-checkin {
	color: #ffffff;
	background-color: #fbaf74;
}
